EP2/node_modules
EP2/dist
EP2/.parcel-cache

EP3/EP2/node_modules
EP3/EP2/dist
EP3/EP2/.parcel-cache

EP4/node_modules
EP4/dist
EP4/.parcel-cache

EP5/node_modules
EP5/dist
EP5/.parcel-cache

EP6/EP5/node_modules
EP6/EP5/dist
EP6/EP5/.parcel-cache

EP7/EP5/node_modules
EP7/EP5/dist
EP7/EP5/.parcel-cache

EP7/proxy_backend/node_modules
